*{
    margin: 0;
}

h2{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/*slider*/



/*barra nav*/
nav{
    background-color: #045768;
    height: 75px;
}

.list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}

li{
    display: inline-block;
    position: relative;
    color: #045768;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s all ease;
}

a{
    text-decoration: none;
    color: #cfc2aa;
    padding: 6px;
    margin-left: 70px;
}

#iconito{
    color: #cfc2aa;
    font-size: 30px;    
    position: relative;
    left: 1270px;
    bottom: 65px;
}


/*fondo*/
body{
    background-color: #f2e6cf;
}

/*banner*/
.banner{
    width: 1200px;
    height: 480px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: #080a0a;
}

/*box productos*/
.product{
    background-color: #0799b6;
    width: 262px;
    height: 359px;
    border-radius: 15px;
    margin: 0px auto;
}

.contenedor{
    display: flex;
    justify-content: space-evenly;
}

img{
    width: 250px;
    height: 250px;
    
}

.boton{
   text-align: center;
   display: flex;
   justify-content: center;
   padding-top: 15px;
}

input{
    background-color: #f7d99f;
    color: #119cb8;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 157px;
    height: 40px;
    transition: 0.3s;
}
input:hover{
    background-color: #045768;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}

#text{
    padding: 15px;
    margin-left: 27px;
}

.text-h3{
    text-align: center;
    text-decoration: underline;
    font-family: "Host Grotesk", sans-serif;
}
.text-price{
    text-decoration-color: #cfc2aa;
    font-weight: bold;
    font-family: "Host Grotesk", sans-serif;
}

p{
    font-family: "Host Grotesk", sans-serif;
    font-weight: 300;
}

/*box del merch*/
.box-merch{
    background-color: #cfc2aa;
    width: 270px;
    height: 320px;
    border-radius: 10px;
    margin: 1px;
    margin-left: 50px;
    display: inline;
    justify-content: center;
}

.box{
    display: flex;
}

.bt-merch{
    padding: 9px 10px;
    color: #cfc2aa;
    border-radius: 150px;
    border: 0;
    background-color: #16798db6;
    text-transform: uppercase;
    cursor: pointer;
}
#bt{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.bt-merch:hover{
    opacity: 0.5;
}

.img-merch{
    width: 200px;
    height: 200px;
    position: relative;
    left: 30px;
}

#merch_text{
    text-align: center;
    padding: 55px;
    margin-left: 10px;
}

/*registro*/
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-synthesis: none;
    text-align: start;
    inline-size: 280px;
    overflow-wrap: break-word;
}
.regist{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 100px 55px;
}

.text-re{
    color: #044c5c;
}

/*footer*/
.foter{
    background-color: white;
    
}

i{
    color: black;
}
.iconos{
    width: 144px;
    height: 25px;
    display: flex;
    justify-content: start;
}


.correo{
    display: flex;
    align-items: end;
    justify-content: flex-end;

}
#mail-box{
    width: 310px;
    height: 40px;
    border-radius: 5px;
    border-color: #080a0a;
    background-color: white;
}
#bt-em{
    width: 50px;
    height: 29px;
}

.text-em{
    font-family:"Host Grotesk", sans-serif;
}

.boxf{
    font-size: x-small;
    text-align: center;
    text-transform: uppercase;
    
    width: 262px;
    height: 276px;
    
    position: relative;
    left: 255px;

    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*css <p>*/
p{
    text-align: center;
}       

